html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.svg-icon{
    width:16px;
    height:16px;
    fill:currentColor;
}

html {
  position: relative;
  min-height: 100%;
}

/* color codes
#fa5b3d - soda orange
#FFF8EF - cream white
#269FFE - aqua blue
#181e20 - shark
*/

body {
    padding: 0;
    margin-bottom: 70px;
    background: #181e20;
}

.navbar {
    background: #181e20;
    border-bottom: 0.8px solid #3c3e41;
}

.input-group .btn {
    background-color: #269FFE;
    border: none;
    color: black;
}

.input-group .form-control {
    background-color: #FFF8EF;
}

.trending-movies {
    color: #269FFE;
}

.nav-title {
    padding-top:20px;
}

.card {
    border: none;
}

.movie-side-text {
    padding-top: 10px;
}

.movie-side-text h4 {
    color: #269FFE;
}

.movie-side-text h6 {
    color: #fa5b3d;
}

.movie-side-text p, h3 {
    color: white;
}

.movieResult .flip-card-container mt-5 {
    margin-top: 0;
}

.movieResult .flip-card-container {
    width: 20rem;
    height: 500px;
    perspective: 200rem;
}

.movieResult .flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: all 0.9s;
    transform-style: preserve-3d;
}

.movieResult .flip-card-container:hover .flip-card {
    transform: rotateY(180deg);
}

.movieResult .flip-card-front, .movieResult .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    display: flex;
}

.movieResult .flip-card-front {
    background-color: transparent;
    z-index: 1;
}

.movieResult .flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    text-align: left;
    border-radius: 4px;
}

.movieResult .flip-card-front img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.movieResult .bi-star-fill {
    color: gold;
}

.movieResult .flip-card-back .tags {
    color: dimgrey;
    font-size: 14px;
}

.movieResult .flip-card-back .tags {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.movieResult .flip-card-back .tags span {
    padding: 2px 5px;
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 6px;
    color: dimgrey;
    font-size: 12px;
    display: inline-block;
    border-radius: 4px;
    background: #1b1b1d;
}

.movieResult .flip-card-back p {
    font-size: 14px;
}




/* card version two*/
.rollUpCard {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: #000;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.rollUpCard .poster {
    position: relative;
    overflow: hidden;
}

.card-group .rollUpCard .poster:before {
    content: '';
    position: absolute;
    bottom: -235px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #000 50%, transparent);
    transition: 0.5s;
    z-index: 1;
}

.rollUpCard:hover .poster:before {
    bottom: 0;
}

.rollUpCard .poster img {
   width: 100%;
   transition: 0.5s;
}

.rollUpCard:hover .poster img {
   filter: blur(5px);
   transform: translateY(-50px);
}

.rollUpCard .details {
    position: absolute;
    padding: 20px;
    height: 60%;
    width: 100%;
    bottom: -250px;
    left: 0;
    box-sizing: border-box;
    transition: 0.5s;
    z-index: 2;
}

.rollUpCard:hover .details {
    bottom: 0;
    height: auto;
}

.rollUpCard .details h2 {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.rollUpCard .details .info h2 {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.rollUpCard .rating {
    position: relative;
    padding: 5px 0;
}

.rollUpCard .rating .bi-star-fill {
   color: gold;
}

.rollUpCard .rating .bi-bar-chart-fill {
    color: #269FFE;
}

.rollUpCard .rating .vote-rating {
    color: #c0c0c0;
}

.rollUpCard .info p {
    color: #fff;
}

.rollUpCard .info .release-date p {
    color: #808080;
}

.rollUpCard .info p {
    margin: 15px 0 10px;
}



