html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    padding: 0;
    margin-bottom: 60px;
    background: #EFEFEF;
}

.movieResult .card-container {
    position: relative;
    width: 20rem;
    height: 562px;
    perspective: 200rem;
}

.movieResult .card-container:hover .card-front {
    transform: rotateY(180deg);
}

.movieResult .card-container:hover .card-back {
    transform: rotateY(0deg);
}

.movieResult .card-back {
    transform: rotateY(180deg);
}

.movieResult .card-back .card-body {
    position: relative;
}

.movieResult .card-back .card-body {
    color: whitesmoke;
}

.movieResult .card {
    position: absolute;
    transition: all 0.9s;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}
